body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #eaeaea;
}

h1{
  text-align: center;
}

main {
  padding: 2rem;
  margin-bottom: 150px;
}

section {
  margin-bottom: 2rem;
  padding: 1.5rem;
  background: #242424;
  color: #eaeaea;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

footer {
  background-color: #1c1c1c;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.music-player {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
  color: #eaeaea;
}

.music-player .cover {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eaeaea;
  font-size: 0.8rem;
}

.music-player .info {
  flex: 1;
}

.music-player .info h3 {
  margin: 0;
  font-size: 1rem;
}

.music-player .info p {
  margin: 0;
  font-size: 0.8rem;
  color: #aaa;
}

.music-player .controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

button {
  background: #1db954;
  border: none;
  color: white;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

button:hover {
  background: #1ed760;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}

input[type="range"] {
  flex: 1;
  -webkit-appearance: none;
  background: linear-gradient(to right, #1db954 0%, #1db954 var(--progress), #333 var(--progress), #333 100%);
  height: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

#next-song {
  font-size: 0.5rem;
  width: 2rem;
  height: 2rem;
}


#current-time, #duration {
  font-size: 0.8rem;
}
